# Exploration

Explorar datos

## Packages

In [2]:
from datetime import datetime, timedelta
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np
from matplotlib.ticker import FuncFormatter
from mpl_toolkits.mplot3d import Axes3D

## Parameters

In [3]:
n=185
# nuevo n√∫mero de d√≠as
new_n = 148
fecha_actual = "2025-11-11"

window_minutes=30
fai_temp_range = (7, 14)
fai_em_threshold = 0.005
date_column = "date"
duration = True
FAI_duration = 3
filter_flare_coincidence = True
method = "filtered" # "all", "true" o "filtered"

## Valid Data

In [4]:
output_dir = f"Data_for_{n}_days"

# Path of cleaned data in csv
csv_path_full_valid = f"{output_dir}/df_full_{new_n}_valid.csv"
# Path of valid flares: 
csv_path_flares = f"{output_dir}/df_flares_{new_n}_valid.csv"
# Path of df_full
csv_path_full = f"{output_dir}/all_df_full_{n}.csv"

# Verificar existencia de archivos y avisar
if not os.path.exists(csv_path_full_valid):
    print(f"‚ö†Ô∏è No se encontr√≥ el archivo GOES: {csv_path_full_valid}")
else:
    print(f"‚úÖ Archivo GOES encontrado: {csv_path_full_valid}")

if not os.path.exists(csv_path_flares):
    print(f"‚ö†Ô∏è No se encontr√≥ el archivo de flares: {csv_path_flares}")
else:
    print(f"‚úÖ Archivo de flares encontrado: {csv_path_flares}")

if not os.path.exists(csv_path_full):
    print(f"‚ö†Ô∏è No se encontr√≥ el archivo de flares: {csv_path_full}")
else:
    print(f"‚úÖ Archivo de flares encontrado: {csv_path_full}")

‚úÖ Archivo GOES encontrado: Data_for_185_days/df_full_148_valid.csv
‚úÖ Archivo de flares encontrado: Data_for_185_days/df_flares_148_valid.csv
‚úÖ Archivo de flares encontrado: Data_for_185_days/all_df_full_185.csv

In [5]:
df_full_valid = pd.read_csv(csv_path_full_valid)
df_flares_valid = pd.read_csv(csv_path_flares)
df_full = pd.read_csv(csv_path_full)

## Data_method

In [6]:

analysis_dir = os.path.join(f"Analysis_FAI")
# Crear carpeta de an√°lisis (si no existe) y mostrar mensaje
if os.path.exists(analysis_dir ):
    print(f"‚ö†Ô∏è La carpeta de an√°lisis ya exist√≠a: {analysis_dir }")
else:
    os.makedirs(analysis_dir , exist_ok=True)
    print(f"üìÅ Carpeta de an√°lisis creada: {analysis_dir}")

# Crear subcarpeta para guardar resultados de an√°lisis
analysis_esp = os.path.join(analysis_dir, f"Analysis_FAI_T{fai_temp_range[0]}-{fai_temp_range[1]}_EM{fai_em_threshold}_dur{FAI_duration}min")
# Crear carpeta de an√°lisis (si no existe) y mostrar mensaje
if os.path.exists(analysis_esp ):
    print(f"‚ö†Ô∏è La carpeta de an√°lisis ya exist√≠a: {analysis_esp }")
else:
    os.makedirs(analysis_esp , exist_ok=True)
    print(f"üìÅ Carpeta de an√°lisis creada: {analysis_esp}")

# Path of anticipation_time
csv_path_anticipation_time = f"{analysis_esp}/df_anticipation_time_{method}_(W_{window_minutes})_T{fai_temp_range[0]}-{fai_temp_range[1]}_EM{fai_em_threshold}_dur{FAI_duration}min.csv"
# Path of fai_all
csv_path_fai_all = f"{analysis_esp}/df_fai_all_T{fai_temp_range[0]}-{fai_temp_range[1]}_EM{fai_em_threshold}_dur{FAI_duration}min.csv"
# Path of fai_selected
csv_path_fai_selected = f"{analysis_esp}/df_fai_{method}_T{fai_temp_range[0]}-{fai_temp_range[1]}_EM{fai_em_threshold}_dur{FAI_duration}min.csv"
# Path of df_fai_assoc
csv_path_fai_assoc = f"{analysis_esp}/df_fai_assoc2_{method}_(W_{window_minutes})_T{fai_temp_range[0]}-{fai_temp_range[1]}_EM{fai_em_threshold}_dur{FAI_duration}min.csv"

if not os.path.exists(csv_path_anticipation_time):
    print(f"‚ö†Ô∏è No se encontr√≥ el archivo de flares: {csv_path_anticipation_time}")
else:
    print(f"‚úÖ Archivo de flares encontrado: {csv_path_anticipation_time}")
if not os.path.exists(csv_path_fai_all):
    print(f"‚ö†Ô∏è No se encontr√≥ el archivo de flares: {csv_path_fai_all}")
else:
    print(f"‚úÖ Archivo de flares encontrado: {csv_path_fai_all}")
if not os.path.exists(csv_path_fai_selected):
    print(f"‚ö†Ô∏è No se encontr√≥ el archivo de flares: {csv_path_fai_selected}")
else:
    print(f"‚úÖ Archivo de flares encontrado: {csv_path_fai_selected}")
if not os.path.exists(csv_path_fai_assoc):
    print(f"‚ö†Ô∏è No se encontr√≥ el archivo de flares: {csv_path_fai_assoc}")
else:
    print(f"‚úÖ Archivo de flares encontrado: {csv_path_fai_assoc}")

‚ö†Ô∏è La carpeta de an√°lisis ya exist√≠a: Analysis_FAI
‚ö†Ô∏è La carpeta de an√°lisis ya exist√≠a: Analysis_FAI/Analysis_FAI_T7-14_EM0.005_dur3min
‚úÖ Archivo de flares encontrado: Analysis_FAI/Analysis_FAI_T7-14_EM0.005_dur3min/df_anticipation_time_filtered_(W_30)_T7-14_EM0.005_dur3min.csv
‚úÖ Archivo de flares encontrado: Analysis_FAI/Analysis_FAI_T7-14_EM0.005_dur3min/df_fai_all_T7-14_EM0.005_dur3min.csv
‚úÖ Archivo de flares encontrado: Analysis_FAI/Analysis_FAI_T7-14_EM0.005_dur3min/df_fai_filtered_T7-14_EM0.005_dur3min.csv
‚úÖ Archivo de flares encontrado: Analysis_FAI/Analysis_FAI_T7-14_EM0.005_dur3min/df_fai_assoc2_filtered_(W_30)_T7-14_EM0.005_dur3min.csv

In [7]:
df_anticipation_time = pd.read_csv(csv_path_anticipation_time)
df_fai_all = pd.read_csv(csv_path_fai_all)
df_fai_selected = pd.read_csv(csv_path_fai_selected)
df_fai_assoc = pd.read_csv(csv_path_fai_assoc)

## dfs columns to datatime

In [8]:
df_full_valid["date"] = pd.to_datetime(df_full_valid["date"])
df_flares_valid["StartTime"] = pd.to_datetime(df_flares_valid["StartTime"])
df_flares_valid["PeakTime"]  = pd.to_datetime(df_flares_valid["PeakTime"])
df_flares_valid["EndTime"]   = pd.to_datetime(df_flares_valid["EndTime"])
df_anticipation_time["StartTime"] = pd.to_datetime(df_anticipation_time["StartTime"])
df_anticipation_time["PeakTime"]  = pd.to_datetime(df_anticipation_time["PeakTime"])
df_anticipation_time["EndTime"]   = pd.to_datetime(df_anticipation_time["EndTime"])
df_fai_selected["date"] = pd.to_datetime(df_fai_selected["date"])

## info df

In [9]:
df_full_valid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52295 entries, 0 to 52294
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   GOES_ID       52295 non-null  object
 1   date          52295 non-null  datetime64[ns]
 2   day           52295 non-null  object
 3   observatory   52295 non-null  object
 4   xrsa          52295 non-null  float64
 5   xrsb          52295 non-null  float64
 6   xrsa_corr     52295 non-null  float64
 7   xrsb_corr     52295 non-null  float64
 8   T_cor         52295 non-null  float64
 9   EM_cor        52295 non-null  float64
 10  T_phot        52295 non-null  float64
 11  EM_phot       52295 non-null  float64
 12  EM_cor_norm   52295 non-null  float64
 13  EM_phot_norm  52295 non-null  float64
dtypes: datetime64[ns](1), float64(10), object(3)
memory usage: 5.6+ MB

In [10]:
df_flares_valid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1433 entries, 0 to 1432
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Flare_ID     1433 non-null   object
 1   StartTime    1433 non-null   datetime64[ns]
 2   PeakTime     1433 non-null   datetime64[ns]
 3   EndTime      1433 non-null   datetime64[ns]
 4   Class        1433 non-null   object
 5   ClassLetter  1433 non-null   object
 6   ClassNumber  1433 non-null   float64
 7   ClassGroup   1433 non-null   object
 8   Observatory  1433 non-null   object
 9   StartPeak    1433 non-null   float64
 10  PeakEnd      1433 non-null   float64
 11  StartEnd     1433 non-null   float64
 12  day          1433 non-null   object
dtypes: datetime64[ns](3), float64(4), object(6)
memory usage: 145.7+ KB

In [11]:
df_anticipation_time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1433 entries, 0 to 1432
Data columns (total 26 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Flare_ID                    1433 non-null   object
 1   StartTime                   1433 non-null   datetime64[ns]
 2   PeakTime                    1433 non-null   datetime64[ns]
 3   EndTime                     1433 non-null   datetime64[ns]
 4   Class                       1433 non-null   object
 5   ClassLetter                 1433 non-null   object
 6   ClassNumber                 1433 non-null   float64
 7   ClassGroup                  1433 non-null   object
 8   Observatory                 1433 non-null   object
 9   StartPeak                   1433 non-null   float64
 10  PeakEnd                     1433 non-null   float64
 11  StartEnd                    1433 non-null   float64
 12  day                         1433 non-null   object
 13  FAIalerts_W                 1433 non-null   int64
 14  FAIalerts_WStart            1433 non-null   int64
 15  FAIalerts_WPeak             1433 non-null   int64
 16  FAIalerts_StartPeak         1433 non-null   int64
 17  FAIalerts_PeakEnd           1433 non-null   int64
 18  FAIalerts_startEnd          1433 non-null   int64
 19  AnticipationStart           601 non-null    float64
 20  AnticipationPeak            995 non-null    float64
 21  Peak_to_lastFAI             995 non-null    float64
 22  Time_since_prev_flare_end   1047 non-null   float64
 23  Time_since_prev_flare_peak  1027 non-null   float64
 24  RelAnticipation_Peak        995 non-null    float64
 25  RelAnticipation_Start       601 non-null    float64
dtypes: datetime64[ns](3), float64(11), int64(6), object(6)
memory usage: 291.2+ KB

In [12]:
df_fai_selected.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13938 entries, 0 to 13937
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   GOES_ID              13938 non-null  object
 1   date                 13938 non-null  datetime64[ns]
 2   day                  13938 non-null  object
 3   observatory          13938 non-null  object
 4   xrsa                 13938 non-null  float64
 5   xrsb                 13938 non-null  float64
 6   xrsa_corr            13938 non-null  float64
 7   xrsb_corr            13938 non-null  float64
 8   T_cor                13938 non-null  float64
 9   EM_cor               13938 non-null  float64
 10  T_phot               13938 non-null  float64
 11  EM_phot              13938 non-null  float64
 12  EM_cor_norm          13938 non-null  float64
 13  EM_phot_norm         13938 non-null  float64
 14  FAI_alert            13938 non-null  bool
 15  FAI_true             13938 non-null  bool
 16  delta_min            13938 non-null  float64
 17  group_id             13938 non-null  int64
 18  duration_from_start  13938 non-null  float64
dtypes: bool(2), datetime64[ns](1), float64(12), int64(1), object(3)
memory usage: 1.8+ MB

In [13]:
df_fai_assoc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13938 entries, 0 to 13937
Data columns (total 38 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   GOES_ID              13938 non-null  object
 1   date                 13938 non-null  object
 2   day                  13938 non-null  object
 3   observatory          13938 non-null  object
 4   xrsa                 13938 non-null  float64
 5   xrsb                 13938 non-null  float64
 6   xrsa_corr            13938 non-null  float64
 7   xrsb_corr            13938 non-null  float64
 8   T_cor                13938 non-null  float64
 9   EM_cor               13938 non-null  float64
 10  T_phot               13938 non-null  float64
 11  EM_phot              13938 non-null  float64
 12  EM_cor_norm          13938 non-null  float64
 13  EM_phot_norm         13938 non-null  float64
 14  FAI_alert            13938 non-null  bool
 15  FAI_true             13938 non-null  bool
 16  delta_min            13938 non-null  float64
 17  group_id             13938 non-null  int64
 18  duration_from_start  13938 non-null  float64
 19  Time_FAI             13938 non-null  object
 20  Associated_Flare     13938 non-null  bool
 21  Flare_ID             5645 non-null   object
 22  F_StartTime          5645 non-null   object
 23  F_PeakTime           5645 non-null   object
 24  F_EndTime            5645 non-null   object
 25  F_Class              5645 non-null   object
 26  F_ClassLetter        5645 non-null   object
 27  F_ClassNumber        5645 non-null   float64
 28  F_ClassGroup         5645 non-null   object
 29  F_Observatory        5645 non-null   object
 30  F_StartPeak          5645 non-null   float64
 31  F_PeakEnd            5645 non-null   float64
 32  F_StartEnd           5645 non-null   float64
 33  Association_Type     5645 non-null   object
 34  Time_to_flare        5645 non-null   float64
 35  FAI_to_start         5645 non-null   float64
 36  FAI_to_peak          5645 non-null   float64
 37  FAI_to_end           5645 non-null   float64
dtypes: bool(3), float64(20), int64(1), object(14)
memory usage: 3.8+ MB

## df_anticipation_time - todos los flares

In [14]:
df_anticipation_time.info() # todos los flares

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1433 entries, 0 to 1432
Data columns (total 26 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Flare_ID                    1433 non-null   object
 1   StartTime                   1433 non-null   datetime64[ns]
 2   PeakTime                    1433 non-null   datetime64[ns]
 3   EndTime                     1433 non-null   datetime64[ns]
 4   Class                       1433 non-null   object
 5   ClassLetter                 1433 non-null   object
 6   ClassNumber                 1433 non-null   float64
 7   ClassGroup                  1433 non-null   object
 8   Observatory                 1433 non-null   object
 9   StartPeak                   1433 non-null   float64
 10  PeakEnd                     1433 non-null   float64
 11  StartEnd                    1433 non-null   float64
 12  day                         1433 non-null   object
 13  FAIalerts_W                 1433 non-null   int64
 14  FAIalerts_WStart            1433 non-null   int64
 15  FAIalerts_WPeak             1433 non-null   int64
 16  FAIalerts_StartPeak         1433 non-null   int64
 17  FAIalerts_PeakEnd           1433 non-null   int64
 18  FAIalerts_startEnd          1433 non-null   int64
 19  AnticipationStart           601 non-null    float64
 20  AnticipationPeak            995 non-null    float64
 21  Peak_to_lastFAI             995 non-null    float64
 22  Time_since_prev_flare_end   1047 non-null   float64
 23  Time_since_prev_flare_peak  1027 non-null   float64
 24  RelAnticipation_Peak        995 non-null    float64
 25  RelAnticipation_Start       601 non-null    float64
dtypes: datetime64[ns](3), float64(11), int64(6), object(6)
memory usage: 291.2+ KB

In [15]:
df_anticipation_time.head()

,Flare_ID,StartTime,PeakTime,EndTime,Class,ClassLetter,ClassNumber,ClassGroup,Observatory,StartPeak,...,FAIalerts_StartPeak,FAIalerts_PeakEnd,FAIalerts_startEnd,AnticipationStart,AnticipationPeak,Peak_to_lastFAI,Time_since_prev_flare_end,Time_since_prev_flare_peak,RelAnticipation_Peak,RelAnticipation_Start
0,Flare_20000606_0,2000-06-06 00:28:00,2000-06-06 00:43:00,2000-06-06 00:55:00,C4.6,C,4.6,C1-4.9,GOES,15.0,...,10,0,10,11.0,26.0,6.0,NaN,NaN,1.733333,0.733333
1,Flare_20000606_1,2000-06-06 01:30:00,2000-06-06 01:49:00,2000-06-06 02:01:00,C2.4,C,2.4,C1-4.9,GOES,19.0,...,7,0,7,NaN,16.0,1.0,54.0,66.0,0.842105,NaN
2,Flare_20000606_3,2000-06-06 08:47:00,2000-06-06 08:51:00,2000-06-06 08:54:00,C2.4,C,2.4,C1-4.9,GOES,4.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Flare_20000606_4,2000-06-06 11:23:00,2000-06-06 11:27:00,2000-06-06 11:29:00,C1.8,C,1.8,C1-4.9,GOES,4.0,...,3,0,3,29.0,33.0,1.0,153.0,156.0,8.250000,7.250000
4,Flare_20000606_5,2000-06-06 11:40:00,2000-06-06 11:45:00,2000-06-06 11:51:00,C2.5,C,2.5,C1-4.9,GOES,5.0,...,3,0,3,1.0,6.0,3.0,16.0,18.0,1.200000,0.200000

### verificar que no est√© tomando FAI entre el peak y end

In [16]:
df_anticipation_time.sort_values(by="FAIalerts_PeakEnd", ascending=False)[:2]

,Flare_ID,StartTime,PeakTime,EndTime,Class,ClassLetter,ClassNumber,ClassGroup,Observatory,StartPeak,...,FAIalerts_StartPeak,FAIalerts_PeakEnd,FAIalerts_startEnd,AnticipationStart,AnticipationPeak,Peak_to_lastFAI,Time_since_prev_flare_end,Time_since_prev_flare_peak,RelAnticipation_Peak,RelAnticipation_Start
0,Flare_20000606_0,2000-06-06 00:28:00,2000-06-06 00:43:00,2000-06-06 00:55:00,C4.6,C,4.6,C1-4.9,GOES,15.0,...,10,0,10,11.0,26.0,6.0,NaN,NaN,1.733333,0.733333
1,Flare_20000606_1,2000-06-06 01:30:00,2000-06-06 01:49:00,2000-06-06 02:01:00,C2.4,C,2.4,C1-4.9,GOES,19.0,...,7,0,7,NaN,16.0,1.0,54.0,66.0,0.842105,NaN

## mostrar # de alertas en toda la ventana de menor a mayor

donde FAIalerts_W = 0 -> Flares que no tienen alerta de anticipaci√≥n

In [17]:
# Configurar pandas para mostrar todas las columnas
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

df_anticipation_time.sort_values(by="FAIalerts_W", ascending=True)[:2]

,Flare_ID,StartTime,PeakTime,EndTime,Class,ClassLetter,ClassNumber,ClassGroup,Observatory,StartPeak,PeakEnd,StartEnd,day,FAIalerts_W,FAIalerts_WStart,FAIalerts_WPeak,FAIalerts_StartPeak,FAIalerts_PeakEnd,FAIalerts_startEnd,AnticipationStart,AnticipationPeak,Peak_to_lastFAI,Time_since_prev_flare_end,Time_since_prev_flare_peak,RelAnticipation_Peak,RelAnticipation_Start
603,Flare_20130515_854,2013-05-15 16:09:00,2013-05-15 16:13:00,2013-05-15 16:18:00,C1.1,C,1.1,C1-4.9,GOES,4.0,5.0,9.0,2013-05-15,0,0,0,0,0,0,NaN,NaN,NaN,160.0,163.0,NaN,NaN
602,Flare_20130515_853,2013-05-15 13:27:00,2013-05-15 13:30:00,2013-05-15 13:33:00,C1.4,C,1.4,C1-4.9,GOES,3.0,3.0,6.0,2013-05-15,0,0,0,0,0,0,NaN,NaN,NaN,22.0,53.0,NaN,NaN

In [18]:
# Ver distribuci√≥n de todos los valores
distribucion = df_anticipation_time['FAIalerts_W'].value_counts().sort_index()
print("Distribuci√≥n de FAIalerts_W:")
print(distribucion)

Distribuci√≥n de FAIalerts_W:
FAIalerts_W
0     438
1     149
2     124
3     122
4     108
5      95
6      69
7      68
8      58
9      41
10     37
11     23
12     18
13     17
14      9
15     15
16     11
17      5
18      8
19      5
20      2
22      1
24      1
25      2
26      2
27      1
28      1
30      1
32      1
36      1
Name: count, dtype: int64

In [19]:
# O con porcentajes
distribucion_pct = df_anticipation_time['FAIalerts_W'].value_counts(normalize=True).sort_index() * 100
print("\nDistribuci√≥n en porcentajes:")
print(distribucion_pct)

Distribuci√≥n en porcentajes:
FAIalerts_W
0     30.565248
1     10.397767
2      8.653175
3      8.513608
4      7.536636
5      6.629449
6      4.815073
7      4.745290
8      4.047453
9      2.861130
10     2.581996
11     1.605024
12     1.256106
13     1.186322
14     0.628053
15     1.046755
16     0.767620
17     0.348918
18     0.558269
19     0.348918
20     0.139567
22     0.069784
24     0.069784
25     0.139567
26     0.139567
27     0.069784
28     0.069784
30     0.069784
32     0.069784
36     0.069784
Name: proportion, dtype: float64

## n√∫mero de flares por clase

In [20]:
# Ver distribuci√≥n de todos los valores
distribucion = df_anticipation_time['ClassLetter'].value_counts().sort_index()
print("Distribuci√≥n de ClassLetter:")
print(distribucion)

Distribuci√≥n de ClassLetter:
ClassLetter
B     48
C    914
M    333
X    138
Name: count, dtype: int64

## Explorar qu√© pasa en los flares X que no tienen alerta

In [21]:
# Filtrar y ordenar
resultadoXsinFAI = df_anticipation_time[
    (df_anticipation_time['FAIalerts_W'] == 0) & 
    (df_anticipation_time['ClassLetter'] == 'X')
].sort_values(by='Class', ascending=False)

# Filtrar y ordenar
resultadoXconFAI = df_anticipation_time[
    (df_anticipation_time['FAIalerts_W'] != 0) & 
    (df_anticipation_time['ClassLetter'] == 'X')
].sort_values(by='Class', ascending=False)

print(f'{len(resultadoXsinFAI)} flares clase X NO tienen alerta \n{len(resultadoXconFAI)} flares clase X SI tienen alerta')
print(f'{len(resultadoXsinFAI) + len(resultadoXconFAI)} Total clase X')

47 flares clase X NO tienen alerta
91 flares clase X SI tienen alerta
138 Total clase X

In [22]:
# Crear la tabla resumen por ClassLetter
resumen_clases = df_anticipation_time.groupby('ClassLetter').agg(
    total_flares=('ClassLetter', 'count'),
    con_alerta=('FAIalerts_W', lambda x: (x != 0).sum()),
    sin_alerta=('FAIalerts_W', lambda x: (x == 0).sum())
).reset_index()

# Calcular porcentajes
resumen_clases['%_con_alerta'] = (resumen_clases['con_alerta'] / resumen_clases['total_flares'] * 100).round(1)
resumen_clases['%_sin_alerta'] = (resumen_clases['sin_alerta'] / resumen_clases['total_flares'] * 100).round(1)

# Ordenar por ClassLetter (A, B, C, M, X)
orden_clases = ['A', 'B', 'C', 'M', 'X']
resumen_clases['ClassLetter'] = pd.Categorical(resumen_clases['ClassLetter'], categories=orden_clases, ordered=True)
resumen_clases = resumen_clases.sort_values('ClassLetter')

# Mostrar la tabla
print("Resumen de alertas FAI por clase de flare:")
print(resumen_clases.to_string(index=False))

# Tambi√©n mostrar el total general
print(f"\nTOTAL GENERAL: {len(df_anticipation_time)} flares")

Resumen de alertas FAI por clase de flare:
ClassLetter  total_flares  con_alerta  sin_alerta  %_con_alerta  %_sin_alerta
          B            48          19          29          39.6          60.4
          C           914         676         238          74.0          26.0
          M           333         209         124          62.8          37.2
          X           138          91          47          65.9          34.1

TOTAL GENERAL: 1433 flares

In [23]:
# Filtrar y ordenar
resultadoXsinFAI = df_anticipation_time[
    (df_anticipation_time['FAIalerts_W'] == 0) & 
    (df_anticipation_time['ClassLetter'] == 'X')
].sort_values(by='Class', ascending=False)

resultadoXsinFAI

,Flare_ID,StartTime,PeakTime,EndTime,Class,ClassLetter,ClassNumber,ClassGroup,Observatory,StartPeak,PeakEnd,StartEnd,day,FAIalerts_W,FAIalerts_WStart,FAIalerts_WPeak,FAIalerts_StartPeak,FAIalerts_PeakEnd,FAIalerts_startEnd,AnticipationStart,AnticipationPeak,Peak_to_lastFAI,Time_since_prev_flare_end,Time_since_prev_flare_peak,RelAnticipation_Peak,RelAnticipation_Start
1133,Flare_20240514_1622,2024-05-14 16:46:00,2024-05-14 16:51:00,2024-05-14 17:02:00,X8.7,X,8.7,X5-+,GOES,5.0,11.0,16.0,2024-05-14,0,0,0,0,0,0,NaN,NaN,NaN,71.0,83.0,NaN,NaN
349,Flare_20031102_519,2003-11-02 17:03:00,2003-11-02 17:25:00,2003-11-02 17:39:00,X8.3,X,8.3,X5-+,GOES,22.0,14.0,36.0,2003-11-02,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Flare_20000714_41,2000-07-14 10:03:00,2000-07-14 10:24:00,2000-07-14 10:43:00,X5.7,X,5.7,X5-+,GOES,21.0,19.0,40.0,2000-07-14,0,0,0,0,0,0,NaN,NaN,NaN,25.0,29.0,NaN,NaN
554,Flare_20120307_801,2012-03-07 00:02:00,2012-03-07 00:24:00,2012-03-07 00:40:00,X5.4,X,5.4,X5-+,GOES,22.0,16.0,38.0,2012-03-07,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
330,Flare_20031023_494,2003-10-23 08:19:00,2003-10-23 08:35:00,2003-10-23 08:49:00,X5.4,X,5.4,X5-+,GOES,16.0,14.0,30.0,2003-10-23,0,0,0,0,0,0,NaN,NaN,NaN,85.0,87.0,NaN,NaN
994,Flare_20231231_1407,2023-12-31 21:36:00,2023-12-31 21:55:00,2023-12-31 22:08:00,X5.0,X,5.0,X5-+,GOES,19.0,13.0,32.0,2023-12-31,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
679,Flare_20140225_936,2014-02-25 00:39:00,2014-02-25 00:49:00,2014-02-25 01:03:00,X4.9,X,4.9,X1-4.9,GOES,10.0,14.0,24.0,2014-02-25,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,Flare_20020723_317,2002-07-23 00:18:00,2002-07-23 00:35:00,2002-07-23 00:47:00,X4.8,X,4.8,X1-4.9,GOES,17.0,12.0,29.0,2002-07-23,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
373,Flare_20040716_555,2004-07-16 13:49:00,2004-07-16 13:55:00,2004-07-16 14:01:00,X3.6,X,3.6,X1-4.9,GOES,6.0,6.0,12.0,2004-07-16,0,0,0,0,0,0,NaN,NaN,NaN,41.0,56.0,NaN,NaN
255,Flare_20030528_414,2003-05-28 00:17:00,2003-05-28 00:27:00,2003-05-28 00:39:00,X3.6,X,3.6,X1-4.9,GOES,10.0,12.0,22.0,2003-05-28,0,0,0,0,0,0,NaN,NaN,NaN,74.0,80.0,NaN,NaN
460,Flare_20061213_682,2006-12-13 02:14:00,2006-12-13 02:40:00,2006-12-13 02:57:00,X3.4,X,3.4,X1-4.9,GOES,26.0,17.0,43.0,2006-12-13,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1140,Flare_20240515_1630,2024-05-15 08:18:00,2024-05-15 08:37:00,2024-05-15 08:52:00,X3.4,X,3.4,X1-4.9,GOES,19.0,15.0,34.0,2024-05-15,0,0,0,0,0,0,NaN,NaN,NaN,17.0,21.0,NaN,NaN
202,Flare_20020720_316,2002-07-20 21:04:00,2002-07-20 21:30:00,2002-07-20 21:54:00,X3.3,X,3.3,X1-4.9,GOES,26.0,24.0,50.0,2002-07-20,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362,Flare_20031104_532,2003-11-04 19:29:00,2003-11-04 19:50:00,2003-11-04 20:06:00,X28.,X,28.0,X5-+,GOES,21.0,16.0,37.0,2003-11-04,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1143,Flare_20240515_1633,2024-05-15 14:20:00,2024-05-15 14:38:00,2024-05-15 14:51:00,X2.9,X,2.9,X1-4.9,GOES,18.0,13.0,31.0,2024-05-15,0,0,0,0,0,0,NaN,NaN,NaN,18.0,21.0,NaN,NaN
9,Flare_20000606_10,2000-06-06 14:58:00,2000-06-06 15:25:00,2000-06-06 15:40:00,X2.3,X,2.3,X1-4.9,GOES,27.0,15.0,42.0,2000-06-06,0,0,0,0,0,0,NaN,NaN,NaN,74.0,84.0,NaN,NaN
612,Flare_20131025_864,2013-10-25 14:51:00,2013-10-25 15:03:00,2013-10-25 15:12:00,X2.1,X,2.1,X1-4.9,GOES,12.0,9.0,21.0,2013-10-25,0,0,0,0,0,0,NaN,NaN,NaN,18.0,25.0,NaN,NaN
170,Flare_20020520_272,2002-05-20 15:21:00,2002-05-20 15:27:00,2002-05-20 15:31:00,X2.1,X,2.1,X1-4.9,GOES,6.0,4.0,10.0,2002-05-20,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
448,Flare_20041107_632,2004-11-07 15:42:00,2004-11-07 16:06:00,2004-11-07 16:15:00,X2.0,X,2.0,X1-4.9,GOES,24.0,9.0,33.0,2004-11-07,0,0,0,0,0,0,NaN,NaN,NaN,49.0,53.0,NaN,NaN
35,Flare_20001124_57,2000-11-24 04:55:00,2000-11-24 05:02:00,2000-11-24 05:08:00,X2.0,X,2.0,X1-4.9,GOES,7.0,6.0,13.0,2000-11-24,0,0,0,0,0,0,NaN,NaN,NaN,157.0,166.0,NaN,NaN
1390,Flare_20250223_1970,2025-02-23 19:22:00,2025-02-23 19:27:00,2025-02-23 19:34:00,X2.0,X,2.0,X1-4.9,GOES,5.0,7.0,12.0,2025-02-23,0,0,0,0,0,0,NaN,NaN,NaN,14.0,20.0,NaN,NaN
1214,Flare_20240716_1714,2024-07-16 13:11:00,2024-07-16 13:26:00,2024-07-16 13:36:00,X1.9,X,1.9,X1-4.9,GOES,15.0,10.0,25.0,2024-07-16,0,0,0,0,0,0,NaN,NaN,NaN,15.0,20.0,NaN,NaN
765,Flare_20141220_1053,2014-12-20 00:11:00,2014-12-20 00:28:00,2014-12-20 00:55:00,X1.8,X,1.8,X1-4.9,GOES,17.0,27.0,44.0,2014-12-20,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501,Flare_20110907_738,2011-09-07 22:32:00,2011-09-07 22:38:00,2011-09-07 22:44:00,X1.8,X,1.8,X1-4.9,GOES,6.0,6.0,12.0,2011-09-07,0,0,0,0,0,0,NaN,NaN,NaN,12.0,20.0,NaN,NaN
413,Flare_20040818_596,2004-08-18 17:29:00,2004-08-18 17:40:00,2004-08-18 17:54:00,X1.8,X,1.8,X1-4.9,GOES,11.0,14.0,25.0,2004-08-18,0,0,0,0,0,0,NaN,NaN,NaN,39.0,54.0,NaN,NaN
190,Flare_20020718_302,2002-07-18 07:24:00,2002-07-18 07:44:00,2002-07-18 07:49:00,X1.8,X,1.8,X1-4.9,GOES,20.0,5.0,25.0,2002-07-18,0,0,0,0,0,0,NaN,NaN,NaN,47.0,51.0,NaN,NaN
1130,Flare_20240514_1619,2024-05-14 02:03:00,2024-05-14 02:09:00,2024-05-14 02:19:00,X1.7,X,1.7,X1-4.9,GOES,6.0,10.0,16.0,2024-05-14,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294,Flare_20030609_453,2003-06-09 21:31:00,2003-06-09 21:39:00,2003-06-09 21:43:00,X1.7,X,1.7,X1-4.9,GOES,8.0,4.0,12.0,2003-06-09,0,0,0,0,0,0,NaN,NaN,NaN,24.0,27.0,NaN,NaN
314,Flare_20030611_476,2003-06-11 20:01:00,2003-06-11 20:14:00,2003-06-11 20:27:00,X1.6,X,1.6,X1-4.9,GOES,13.0,13.0,26.0,2003-06-11,0,0,0,0,0,0,NaN,NaN,NaN,134.0,151.0,NaN,NaN
791,Flare_20210703_1133,2021-07-03 14:18:00,2021-07-03 14:29:00,2021-07-03 14:34:00,X1.5,X,1.5,X1-4.9,GOES,11.0,5.0,16.0,2021-07-03,0,0,0,0,0,0,NaN,NaN,NaN,67.0,78.0,NaN,NaN
879,Flare_20220510_1237,2022-05-10 13:50:00,2022-05-10 13:55:00,2022-05-10 13:59:00,X1.5,X,1.5,X1-4.9,GOES,5.0,4.0,9.0,2022-05-10,0,0,0,0,0,0,NaN,NaN,NaN,16.0,19.0,NaN,NaN
177,Flare_20020703_279,2002-07-03 02:08:00,2002-07-03 02:13:00,2002-07-03 02:16:00,X1.5,X,1.5,X1-4.9,GOES,5.0,3.0,8.0,2002-07-03,0,0,0,0,0,0,NaN,NaN,NaN,21.0,29.0,NaN,NaN
1218,Flare_20240729_1721,2024-07-29 02:33:00,2024-07-29 02:37:00,2024-07-29 02:43:00,X1.5,X,1.5,X1-4.9,GOES,4.0,6.0,10.0,2024-07-29,0,0,0,0,0,0,NaN,NaN,NaN,13.0,18.0,NaN,NaN
555,Flare_20120307_802,2012-03-07 01:05:00,2012-03-07 01:14:00,2012-03-07 01:23:00,X1.3,X,1.3,X1-4.9,GOES,9.0,9.0,18.0,2012-03-07,0,0,0,0,0,0,NaN,NaN,NaN,34.0,50.0,NaN,NaN
1196,Flare_20240714_1694,2024-07-14 02:23:00,2024-07-14 02:34:00,2024-07-14 02:48:00,X1.2,X,1.2,X1-4.9,GOES,11.0,14.0,25.0,2024-07-14,0,0,0,0,0,0,NaN,NaN,NaN,19.0,31.0,NaN,NaN
1032,Flare_20240505_1512,2024-05-05 11:41:00,2024-05-05 11:54:00,2024-05-05 12:16:00,X1.2,X,1.2,X1-4.9,GOES,13.0,22.0,35.0,2024-05-05,0,0,0,0,0,0,NaN,NaN,NaN,95.0,114.0,NaN,NaN
113,Flare_20011022_200,2001-10-22 17:44:00,2001-10-22 17:59:00,2001-10-22 18:14:00,X1.2,X,1.2,X1-4.9,GOES,15.0,15.0,30.0,2001-10-22,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1368,Flare_20250103_1944,2025-01-03 22:32:00,2025-01-03 22:41:00,2025-01-03 22:51:00,X1.1,X,1.1,X1-4.9,GOES,9.0,10.0,19.0,2025-01-03,0,0,0,0,0,0,NaN,NaN,NaN,89.0,122.0,NaN,NaN
1344,Flare_20241230_1918,2024-12-30 04:29:00,2024-12-30 04:31:00,2024-12-30 04:34:00,X1.1,X,1.1,X1-4.9,GOES,2.0,3.0,5.0,2024-12-30,0,0,0,0,0,0,NaN,NaN,NaN,3.0,17.0,NaN,NaN
1324,Flare_20241229_1898,2024-12-29 07:08:00,2024-12-29 07:18:00,2024-12-29 07:34:00,X1.1,X,1.1,X1-4.9,GOES,10.0,16.0,26.0,2024-12-29,0,0,0,0,0,0,NaN,NaN,NaN,10.0,19.0,NaN,NaN
7,Flare_20000606_8,2000-06-06 13:30:00,2000-06-06 13:39:00,2000-06-06 13:46:00,X1.1,X,1.1,X1-4.9,GOES,9.0,7.0,16.0,2000-06-06,0,0,0,0,0,0,NaN,NaN,NaN,11.0,20.0,NaN,NaN
142,Flare_20011125_232,2001-11-25 09:45:00,2001-11-25 09:51:00,2001-11-25 09:54:00,X1.1,X,1.1,X1-4.9,GOES,6.0,3.0,9.0,2001-11-25,0,0,0,0,0,0,NaN,NaN,NaN,21.0,24.0,NaN,NaN
371,Flare_20040716_553,2004-07-16 10:32:00,2004-07-16 10:41:00,2004-07-16 10:46:00,X1.1,X,1.1,X1-4.9,GOES,9.0,5.0,14.0,2004-07-16,0,0,0,0,0,0,NaN,NaN,NaN,99.0,102.0,NaN,NaN
10,Flare_20000618_18,2000-06-18 01:52:00,2000-06-18 01:59:00,2000-06-18 02:03:00,X1.0,X,1.0,X1-4.9,GOES,7.0,4.0,11.0,2000-06-18,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,Flare_20011104_224,2001-11-04 16:03:00,2001-11-04 16:20:00,2001-11-04 16:57:00,X1.0,X,1.0,X1-4.9,GOES,17.0,37.0,54.0,2001-11-04,0,0,0,0,0,0,NaN,NaN,NaN,33.0,39.0,NaN,NaN
224,Flare_20020821_340,2002-08-21 05:28:00,2002-08-21 05:34:00,2002-08-21 05:36:00,X1.0,X,1.0,X1-4.9,GOES,6.0,2.0,8.0,2002-08-21,0,0,0,0,0,0,NaN,NaN,NaN,40.0,43.0,NaN,NaN
398,Flare_20040813_581,2004-08-13 18:07:00,2004-08-13 18:12:00,2004-08-13 18:15:00,X1.0,X,1.0,X1-4.9,GOES,5.0,3.0,8.0,2004-08-13,0,0,0,0,0,0,NaN,NaN,NaN,69.0,74.0,NaN,NaN